body{
    margin:0;
    padding: 0;
    /* background-image: url(../img/emirat.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: cornsilk;
}

.container{
    width: 320px;
    margin: auto; 
    
}

header nav{
    margin-top: 20px;
}

header nav .image{
    float: left;
    margin-left: 30px;
}

.types{
    float: right;
    margin-top: 50px;
    /* text-align: end; */
    margin-right: 100px;
}

section{
    padding: 10px;
}

section h1{
    padding-top: 30px;
    margin-top: 70px;
    text-transform: uppercase;
}
section .flight-type{
    float: left;
    margin-top: -12px;

}

article .country{
    margin-top: 20px;
    padding-top: 10px;
    text-align: left;
}

section .date{
    float: right;
    margin-right: 120px;
    margin-top: -12px;
    
}

 section .sub {
    display: inline-block;
    column-count: 3;
    
    
}
.departure h5{
    margin-top: 0;
}

footer{
    text-align: center;
    font-size: 20px;
    
}

